<footer>
    <div class="footer-content">
        <div class="footer-section">
            <div class="business-info">
                <p>Agricola Vezzali Golinelli</p>
                <p>Via ca de barozzi 26, 41058 Vignola (MO)</p>
                <p>Tel: +39 334 2797698 </p>
                <p>Email: info@agricolavezzaligolinelli.it</p>
                <p>P.IVA: IT04109140360</p>
            </div>
        </div>
        <div class="footer-section social-section">
            <h3 class="social-title">Seguici sui social</h3>
            <div class="social-links">
                <a href="#" class="social-link"><i class="fab fa-facebook"></i></a>
                <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="footer-copyright">© 2024 Agricola Vezzali Golinelli. Tutti i diritti riservati.</p>
        </div>
    </div>
</footer>
