<header class="main-header">
    <div class="logo-container">
        <a href="index.html" class="logo">
            <img src="assets/images/logo.JPG" alt="Logo Agricola Vezzali Golinelli">
        </a>
    </div>
    <nav>
        <div class="menu-btn-container">
            <button class="menu-btn" aria-label="Toggle menu">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <ul class="nav-links">
            <li><a href="index.html#azienda">CHI SIAMO</a></li>
            <li><a href="index.html#tour">TOUR ED EVENTI</a></li>
            <li><a href="index.html#prodotti">PRODOTTI</a></li>
            <li><a href="index.html#contatti">NEGOZIO</a></li>
        </ul>
    </nav>
</header>
